
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Of Bhutan</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/token_monitor.css">
    <link rel="stylesheet" href="css/book_confirm_email.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
</head>
<body>
    <div class="heading">
        <a href="/">
            <img src="image/Home.svg" alt="Home" class="home-icon">
        </a>
        <img src="image/BoB-Logo.svg" alt="Logo" class="logo-icon">
    </div>
    <div class="main_container">
        <div class="content">
            <div class="content1">
                    <div class="monitor">
                        <div class="token_check_instruct">
                            <img src="image/Group 197.svg" alt="">
                        </div>
                        <div class="email_instruct_header">
                            Check your email to confirm your Token booking
                        </div>
                        <div class="email_instruct">
                            We sent a link to <span class="your_email">dawapenjor@gmail.com</span>. After confirming your email, you can explore the platform
                        </div>
                        <div class="confirm_email_sent">
                            <img src="image/Black.svg" class="image" alt=""> <span class="ces">Confirmation email sent</span>
                        </div>
                        <div class="submit_container">
                            <button class="submit_button">Resend email</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>