<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Of Bhutan</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/online_token_options.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="heading">
      <a href="/">
        <img src="image/Home.svg" alt="Home" class="home-icon">
    </a>
        <img src="image/BoB-Logo.svg" alt="Logo" class="logo-icon">
    </div>
    <div class="main_container">
        <div class="content">
            <div class="slider">
                <img src="image/Desktop banner.svg" class="sliderimage" alt="">
            </div>
            <div class="navigation_container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-4"> 
                      <a href="/tokenOption" class="text-decoration-none">
                        <div class="option p-3 text-center hover_opt">
                          Book Token
                        </div>
                      </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4"> 
                      <a href="check_token" class="text-decoration-none">
                        <div class="option p-3 text-center hover_opt">
                          Check Token Appointment
                        </div>
                      </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-4"> 
                      <a href="token_monitor.html" class="text-decoration-none">
                        <div class="option p-3 text-center hover_opt">
                          Real-Time Token Monitor
                        </div>
                      </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>