<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Of Bhutan</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/token_selection.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
</head>
<body>
    <div class="heading">
        <a href="/">
            <img src="image/Home.svg" alt="Home" class="home-icon">
        </a>
        <img src="image/BoB-Logo.svg" alt="Logo" class="logo-icon">
    </div>
    <div class="main_container">
        <div class="content">
            <div class="slider">
                <img src="image/Desktop banner.svg" class="sliderimage" alt="">
            </div>
            <div class="navigation_container">
                <a href="DepositToken">
                    <div class="option">
                        Deposit
                    </div>
                </a>
                <a href="WithdrawalToken">
                    <div class="option">
                        Withdrawal
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>