<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Of Bhutan</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/token_appointment_detail.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
</head>
<body>
    <div class="heading">
        <a href="/">
            <img src="image/Home.svg" alt="Home" class="home-icon">
        </a>
        <img src="image/BoB-Logo.svg" alt="Logo" class="logo-icon">
    </div>
    <div class="main_container">
        <div class="content">
            <div class="content1">
                    <div class="monitor">
                        <div class="main_title">
                            Your Tokens Details
                        </div>
                        <div class="service">
                            <span class="topic">Token Number</span><br>
                            <span class="info">OT016</span>
                        </div>
                        <div class="input_field">
                            <span class="topic">Token Number </span> <br>
                            <span class="info">OT016</span>
                        </div>
                        <div class="input_field">
                            <span class="topic">Date </span> <br>
                            <span class="info">26-08-2024</span>
                        </div>
                        <div class="input_field">
                            <span class="topic">Token Time </span> <br>
                            <span class="info">12:30 PM</span>
                        </div>
                        <div class="input_field">
                            <span class="topic">Service </span> <br>
                            <span class="info">Cash Withdrawal</span>
                        </div>
                        <div class="input_field">
                            <span class="topic">Counter Number </span> <br>
                            <span class="info">Counter 3</span>
                        </div>
                        <div class="time-input-container input_field">
                            <span class="topic">Account Number</span><span class="star"><br>
                                <span class="info">205048123</span>
                        </div>
                    </div>
            </div>
            <div class="content1">
                <div class="monitor">
                    <div class="main_title">
                        Track Your Tokens
                    </div>
                    <div class="service grt">
                        <div class="token_no_container">
                            <div class="topic_of_current toke">
                                Current Token Number
                            </div>
                            <div class="token_number toke">
                                OT012
                            </div>
                        </div>
                        <div class="token_no_container">
                            <div class="topic_of_current toke">
                                Current Token Number
                            </div>
                            <div class="token_number toke">
                                OT012
                            </div>
                        </div>
                    </div>
                    <div class="input_fields">
                        <table>
                            <tr>
                                <th>Token Number</th>
                                <th>Counter Number</th>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>OT013</td>
                                <td>3</td>
                            </tr>
                        </table>
                    </div>
                    <div class="input_fields">
                        <button class="appoint_cancel">Cancel the appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>