<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Of Bhutan</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/token_monitor.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap">
</head>
<body>
    <div class="heading">
        <a href="/">
            <img src="image/Home.svg" alt="Home" class="home-icon">
        </a>
        <img src="image/BoB-Logo.svg" alt="Logo" class="logo-icon">
    </div>
    <div class="main_container">
        <div class="content">
            <div class="content1">
                    <div class="monitor">
                        <div class="main_title">
                            Real-Time Token Monitor
                        </div>
                        <div class="present_token_container">
                            <div class="token_text">
                                Token Number Being Served
                            </div>
                            <div class="present_token">
                                OT016
                            </div>
                        </div>
                        <div class="token_table_container">
                            <table>
                                <tr>
                                    <th>Token Number</th>
                                    <th>Counter Number</th>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>OT013</td>
                                    <td>3</td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>