.content1 {
    height: 90vh;
}
.monitor{
    height: 750px;
}
@media only screen and (max-height: 800px) {
    .content1 {
        height: auto; 
        min-height: 100%; 
    }
}
.content1{
    background-color: #00A7E3;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.monitor{
    width: 70%;
    background-color: #ffffff;
    border-top: 3px solid #FFCB03;
    padding: 16px;
}
.main_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
    font-size: 20px;
}
.topic{
    font-size: 14px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.75)
}
.star{
    font-size: 14px;
    color: #DC3545; 
}
.withdrawl_service{
    font-size: 13px;
    color: rgba(51, 51, 51, 0.60)
}
input::placeholder {
    color: rgba(51, 51, 51, 0.60); 
    font-size: 12px;
}
input{
    margin-top: 10px;
    width: 100%;
    height: 42px;
    border:1px solid #CED4DA;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
input:focus {
    outline: none;
}
.service{
    height: 50px;
}
.input_field{
    margin-top: 10px;
}
button{
    background-color: #00A7E3 !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: bold !important;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 42px;
}
@media (max-width: 879px) {
    .monitor{
        width: 97%;
    }
   .content{
    width: 100%;
   } 

}
@media (max-width:600px){
    .content{
        background-color: #00A7E3;
      }
}
@media (min-height: 1138px) {
  .content{
    background-color: #00A7E3;
    width: 100%;
  }
}